.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 440px;
    background-color: black;
    margin-top: 70px;
    max-width: 500px;
    row-gap: 10px;
}

.login form .i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    row-gap: 15px;
    margin-top: 30px;
}

.login form .i textarea,
.login form .i input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid;
    height: 25px;
    width: 395px;
    margin-left: 40px;

}

.login form label{

    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-left: 45px;
    margin-top: 10px;

}

.login form .b {
    display: flex;
    justify-content: center;
}


.login form .b button {
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    outline: none;
    border: 1px solid;
    font-weight: bold;
    background-color: hsl(348deg 100% 56%);
    color: rgb(255, 255, 255);
    width: 180px;
    border: unset;
    height: 40px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.login form .b button:active {
    box-shadow: white;
}