.login {
    margin: 0 auto;
    margin-top:10%;
    height:80vh;
    display:flex;
    flex-direction: column;
    width:80vw;
}

.login h1{
color: hsl(0, 0%, 100%);
font-size:large;
margin: 0 auto;
margin-top:-45px;
}

.login form {
    display: flex;
    flex-direction: column;
    width:auto;
    height:27em;
    background-color: black;
    row-gap:5px;
    border-top-left-radius:1.5%;
    border-top-right-radius:1.5%;
    border-top:65px solid hsl(348deg 100% 56%);
    box-sizing: border-box;
}

.login form .i {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap:15px;
    margin-top:28px;
}

.login form .i textarea,
.login form .i input {
    padding-left:8px;
    border-radius:3%;
    outline: none;
    border: 1px solid;
    height: 35px;
    width: 80%;
    margin-left:9%;
}

.login form label{

    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600;
    margin-left:9%;
    margin-top:20px;
}

.login form button {
    border-radius:3%;
    margin-top:36px;
    height: 35px;
    width: 80%;
    margin-left:9%;
    outline: none;
    font-weight: bold;
    background-color: hsl(348deg 100% 56%);
    color: rgb(255, 255, 255);
    font-size: medium;
    border: unset;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login form  button:active {
    box-shadow: white;
}