
    h2{
    margin-top: -540px;
    color: white;
    position: inherit;
    font-weight: 600;
    }
    
    .h{
        margin-top: 450px;
    }
    
    .searchContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    
    
    }
  select{
        width: 150px;
        border-radius: 0px;
        height: 40px;
        border:none;
    }
    
    .para{
        color: white;
        font-weight: 400;
        margin-top: -10px;
        
    }
    
     .buttonStyle{
        background-color: hsl(348deg 100% 56%);
        width: 170px;
        height: 40px;
        padding-right: 20px;
        border-radius: 0px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        margin-left: 0px;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 5px;
        font-weight: bold;
        border: none;
    
    }