
    h2{
        margin: 0 auto;
        color: white;
        font-weight:600;
        margin-top:-50%;
        font-size:4vw;
    }
    
    .searchContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 auto;
        margin-top:40px;
        width:65%;
    }
    
  select{
        width: 30%;
        border-radius: 0px;
        height: 40px;
        border:none;
    }
    
    .para{
        color: white;
        font-weight: 400;
        margin-top: 18px;
        font-size:medium;
        padding-left:5%;   
    }
    
     .buttonStyle{
        background-color: hsl(348deg 100% 56%);
        width: 170px;
        height: 40px;
        padding-right: 20px;
        border-radius: 0px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        margin-left: 0px;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 5px;
        font-weight: bold;
        border: none;
    
    }