.imgStyle{
object-fit: fill;
    height:auto;
    width:100%;
    background-position: 10%;

}

.secondText{
    margin-top:43%;
}


@media (max-width: 750px) { 
    .secondText{
        margin-top:90px;
    }
}
