.signoutContainer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;   
    height:60vh;
    width:80vw;
}

 .message{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size:medium;
    margin:0 auto;
    margin-top:50px;

 }

.signoutContainer img{

    margin:0 auto;
    height: auto;
    max-width: 100%; 
 }

 .loginLink
 {
    color: hsl(348deg 100% 56%);
    font-family: monospace;
    margin:0 auto;
    font-size: medium;
    font-weight: 700;
 }
