.z{
    margin: 80px; 
    height: 600px;
}
 .v{
    color: rgb(0, 0, 0);
    font-family: monospace;
    margin-bottom: 39px;


 }
 .d{
    color: hsl(348deg 100% 56%);
    font-family: monospace;
    margin-top: 51px;
}
